@import url("userChrome.css");

/* Removes white loading page */
@-moz-document url(about:blank), url(about:newtab), url(about:home) {
  .search-wrapper .logo-and-wordmark .wordmark {
    fill: lightblue !important;
  }
  .prefs-button button {
    fill: white !important;
  }

  html:not(#ublock0-epicker), html:not(#ublock0-epicker) body, #newtab-customize-overlay {
    background: var(--mff-bg) !important;
  }
}
